In [0]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd

# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

ksprojects = drive.CreateFile({'id':'1GB1DzHU5KoLdAAOyOtkd4y4S2sR4fjk4'}) 
ksprojects.GetContentFile('ksprojects.csv')  
df = pd.read_csv('ksprojects.csv')

In [2]:
# How many rows data are in the DataFrame? There are 65,418 rows.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65418 entries, 0 to 65417
Data columns (total 13 columns):
id               65418 non-null int64
name             65418 non-null object
category         65418 non-null object
main_category    65418 non-null object
deadline         65418 non-null object
goal             65418 non-null float64
launched         65418 non-null object
state            65418 non-null object
backers          65418 non-null int64
country          65418 non-null object
usd_pledged      64673 non-null float64
currency         65418 non-null object
pledged          65418 non-null float64
dtypes: float64(3), int64(2), object(8)
memory usage: 6.5+ MB

In [3]:
# What are the names and data types of the columns? The 13 column names and types are listed below.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65418 entries, 0 to 65417
Data columns (total 13 columns):
id               65418 non-null int64
name             65418 non-null object
category         65418 non-null object
main_category    65418 non-null object
deadline         65418 non-null object
goal             65418 non-null float64
launched         65418 non-null object
state            65418 non-null object
backers          65418 non-null int64
country          65418 non-null object
usd_pledged      64673 non-null float64
currency         65418 non-null object
pledged          65418 non-null float64
dtypes: float64(3), int64(2), object(8)
memory usage: 6.5+ MB

In [4]:
# Do any of the columns contain null values? Yes, the usd_pledged column contains null values. 

df.isnull().any()

id               False
name             False
category         False
main_category    False
deadline         False
goal             False
launched         False
state            False
backers          False
country          False
usd_pledged       True
currency         False
pledged          False
dtype: bool

In [5]:
# Find all successful documentary projects and sort them by the amount pledged. Print the top 10 highest pledges.

successful_docs = (df['category'] == 'Documentary') & (df['state'] == 'successful')
successful_docs_df = df.iloc[successful_docs.values]
sorted_docs = successful_docs_df.sort_values(by = 'pledged', ascending = False)
sorted_docs.head(10)

               id  ...   pledged
11731  1078982332  ...  384376.0
24166  1162836718  ...  313158.0
12127  1326363492  ...  240022.0
61248  1203470139  ...  186010.0
28003  1205913248  ...  177421.0
27402  1135999291  ...  176746.0
16243  1061853312  ...  167917.0
27268  1228065368  ...  165401.0
43820  1194449879  ...  163930.0
22237   122290911  ...  163891.0

[10 rows x 13 columns]

In [6]:
# Create a new column named average_per_backer and set its value to the total amount pledged / number of backers. 
# What happened to the rows with 0 backers? The entry became NaN.
# How can this be dealt with? I replaced the NaN values in the average_per_backer column with 0's. 

new_df = df.assign(average_per_backer = df.pledged/df.backers)
values = {'average_per_backer':0}
filled_df = new_df.fillna(value=values)
filled_df

               id  ... average_per_backer
0      1147015301  ...          10.000000
1      1100844465  ...          50.000000
2      1316334968  ...          42.718750
3      1304906577  ...         273.958333
4      1099226462  ...          22.802727
...           ...  ...                ...
65413  1107492255  ...        1031.888889
65414  1373187022  ...          37.513514
65415  1212504494  ...           0.000000
65416  1347446277  ...           0.000000
65417  1075208929  ...           0.000000

[65418 rows x 14 columns]

In [7]:
# Drop all rows with 0 backers then repeat the previous exercise. **I'm not sure which previous exercise this instruction is referring to...**

drop_df = df[df.backers != 0]
another_df = drop_df.assign(average_per_backer = df.pledged/df.backers)
another_df

               id  ... average_per_backer
0      1147015301  ...          10.000000
1      1100844465  ...          50.000000
2      1316334968  ...          42.718750
3      1304906577  ...         273.958333
4      1099226462  ...          22.802727
...           ...  ...                ...
65408  1166775907  ...          36.000000
65410  1120449668  ...          21.958333
65411  1105965008  ...          47.500000
65413  1107492255  ...        1031.888889
65414  1373187022  ...          37.513514

[55532 rows x 14 columns]

In [8]:
# Create a crosstab to get a count of records for each combination of state and category.

ct_df = pd.crosstab(df['category'], df['state'])
ct_df

state        canceled  failed  live  successful  suspended  undefined
category
3D Printing        17      59     3          43          2          1
Academic           21      86     3          43          4          0
Accessories        48     238    16         121          2          1
Action             14      79     1          16          0          0
Animals             2      31     0          11          1          0
...               ...     ...   ...         ...        ...        ...
Woodworking        10     125     4          38          2          0
Workshops           0      12     1           8          1          0
World Music        31     174     2         168          1          0
Young Adult        16      78     1          23          0          0
Zines               6      26     1          17          0          0

[158 rows x 6 columns]

In [9]:
# This data consists of information about all flights that departed NYC in 2013. Download two datasets: flights and airlines.
# Merge these two DataFrames into a single DataFrame: nycflights13.
# Are there any missing values in this DataFrame? Yes, in the dep_time, dep_delay, arr_time, arr_delay, tailnum, and air_time columns. 
# If so, drop them. **Does this mean to drop the whole row containing the missing values? Because that's what I did :) **

flights = drive.CreateFile({'id':'1fYuYPZ4KhyGLjCh0Tc5E3Go1Lqn6WrCb'}) 
flights.GetContentFile('flights.csv')  
flights_df = pd.read_csv('flights.csv')

airlines = drive.CreateFile({'id':'17PTQ1VJlP4G6S_WzmStR5AcQ2J7sC5A7'}) 
airlines.GetContentFile('airlines.csv')  
airlines_df = pd.read_csv('airlines.csv')

nycflights13 = pd.merge(flights_df, airlines_df)
nycflights13 = nycflights13.dropna()
nycflights13.isnull().any()

year              False
month             False
day               False
dep_time          False
sched_dep_time    False
dep_delay         False
arr_time          False
sched_arr_time    False
arr_delay         False
carrier           False
flight            False
tailnum           False
origin            False
dest              False
air_time          False
distance          False
hour              False
minute            False
time_hour         False
name              False
dtype: bool

In [10]:
population = drive.CreateFile({'id':'1nm7Ej_MpH8Jbh6hd311fxaBwASXZ-xep'}) 
population.GetContentFile('state-populations.csv')  
population_df = pd.read_csv('state-populations.csv')
population_df

regions = drive.CreateFile({'id':'1ATAx6h6DbkvnniBEfENzA0ckPMkK-0_g'}) 
regions.GetContentFile('census-divisions.csv')  
regions_df = pd.read_csv('census-divisions.csv')
regions_df

census = pd.merge(population_df, regions_df)
census.head()

        state      2010      2011  ...      2016  region            division
0     Alabama   4785492   4799918  ...   4863300   South  East South Central
1      Alaska    714031    722713  ...    741894    West             Pacific
2     Arizona   6408312   6467163  ...   6931071    West            Mountain
3    Arkansas   2921995   2939493  ...   2988248   South  West South Central
4  California  37332685  37676861  ...  39250017    West             Pacific

[5 rows x 10 columns]

In [11]:
census_melt = pd.melt(census, id_vars=['state'], value_vars=['2010', '2011', '2012', '2013', '2014', '2015', '2016'], var_name='year', value_name = 'population')
census_melt

             state  year  population
0          Alabama  2010     4785492
1           Alaska  2010      714031
2          Arizona  2010     6408312
3         Arkansas  2010     2921995
4       California  2010    37332685
..             ...   ...         ...
352       Virginia  2016     8411808
353     Washington  2016     7288000
354  West Virginia  2016     1831102
355      Wisconsin  2016     5778708
356        Wyoming  2016      585501

[357 rows x 3 columns]

In [12]:
# Group the data by year and summarize it.

census_melt.groupby('year').describe()

     population                              ...
          count          mean           std  ...        50%        75%         max
year                                         ...
2010       51.0  6.065651e+06  6.839536e+06  ...  4348662.0  6654375.0  37332685.0
2011       51.0  6.111046e+06  6.907730e+06  ...  4369354.0  6717221.5  37676861.0
2012       51.0  6.156831e+06  6.974942e+06  ...  4384799.0  6776617.0  38011074.0
2013       51.0  6.200096e+06  7.038774e+06  ...  4400477.0  6837396.0  38335203.0
2014       51.0  6.246342e+06  7.110811e+06  ...  4413057.0  6902053.5  38680810.0
2015       51.0  6.292091e+06  7.181603e+06  ...  4424611.0  6988927.5  38993940.0
2016       51.0  6.335834e+06  7.243849e+06  ...  4436974.0  7109535.5  39250017.0

[7 rows x 8 columns]

In [13]:
# Group the data by region, division and year and summarize it.

final_census = pd.melt(census, id_vars=['state', 'region', 'division'], value_vars=['2010', '2011', '2012', '2013', '2014', '2015', '2016'], var_name='year', value_name = 'population')
final_census.groupby(['region', 'division', 'year'])['population'].describe()

                                 count        mean  ...         75%         max
region  division           year                     ...
Midwest East North Central 2010    5.0   9288169.4  ...  11540983.0  12841578.0
                           2011    5.0   9301433.8  ...  11544824.0  12860012.0
                           2012    5.0   9314559.0  ...  11550839.0  12870798.0
                           2013    5.0   9332093.0  ...  11570022.0  12879505.0
                           2014    5.0   9346265.8  ...  11594408.0  12867544.0
...                                ...         ...  ...         ...         ...
West    Pacific            2012    5.0  10185665.0  ...   6895226.0  38011074.0
                           2013    5.0  10274464.0  ...   6968006.0  38335203.0
                           2014    5.0  10371286.2  ...   7054196.0  38680810.0
                           2015    5.0  10468346.0  ...   7160290.0  38993940.0
                           2016    5.0  10560386.6  ...   7288000.0  39250017.0

[63 rows x 8 columns]